* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Baloo Bhaijaan 2";
  src: url("/font/BalooBhaijaan2-VariableFont_wght.ttf") format("truetype");
}

:root {
  --mainColor: #101828;
  --second-color: #a4a4a4;
  --praimary-color: #f82548;
  --Colors-Neutral-300: #d2d2d2;
}
body {
  font-family: "Baloo Bhaijaan 2";
  height: 1000px;
}
.error {
  font-size: 12px;
  margin-top: 5px;
  display: block;
  color: red;
}
.success {
  color: green;
}
.hidden {
  display: none;
}
.con {
  display: flex;
  gap: 2px;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 8px;
}
.conformat {
  border: 1px solid #ececec;
  border-radius: 8px;
  width: 38px;
  height: 8px;
  background-color: #ececec;
}
.conChecked {
  background-color: var(--praimary-color);
}

/* .main_contaner{
    position: absolute;
    top: 5.33vw;
    left: 34.65vw;
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1.5px solid var(--Colors-Neutral-300, #D2D2D2);
    background: #FFF;
    font-family: "Baloo Bhaijaan 2";
    box-shadow: 0px 16px 32px -12px rgba(88, 92, 95, 0.10);
  } */
.main_contaner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1.5px solid var(--Colors-Neutral-300, #d2d2d2);
  background: #fff;
  font-family: "Baloo Bhaijaan 2";
  box-shadow: 0px 16px 32px -12px rgba(88, 92, 95, 0.1);
  z-index: 1000;
  width: 355px;
}
.main_contanerS {
  top: 70% !important;
}
.main_contaner h1 {
  font-size: 24px;
  color: var(--mainColor);
  text-align: center;
}
.main_contaner p {
  text-align: center;
}
.login4 p {
  color: #646262;
}
.form_contaner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.secon_con {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form_group {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: var(--mainColor);
  gap: 1px;
}
.form_group .label {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.form_group .input {
  padding-block: 12px;
  border-radius: 0.25rem;
  border: 1.5px solid var(--Colors-Neutral-300, #d2d2d2);
  width: 100%;
  gap: 8px;
  direction: ltr;
}

.input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--second-color);
  font-family: "Baloo Bhaijaan 2";
  /* text-align: end; */
  position: relative;
  right: 1.11vw;
  text-align: right;
}
.wrapper {
  width: 100%;
}

.check {
  display: flex;
  gap: 8px;
  justify-content: end;
}
.check label {
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}
.password_con {
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.check input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.check input[type="checkbox"]:checked {
  accent-color: var(--praimary-color);
}

/* .check input[type="checkbox"]:checked::after {
    content: "✔";
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    position: relative;
    top: -3px;
    /* bottom: 0; */
/* right: 0;
    left: 0;
        } */

.or {
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.or p {
  color: var(--COLORS-Neutral-500, #a4a4a4);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.or span {
  width: 100%;
  background: var(--Colors-Neutral-300, #d2d2d2);
  height: 1px;
}
.buttons_con {
  flex-direction: row;
  gap: 8px;
}
input[type="button"] {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  border: 1.5px solid var(--Colors-Neutral-400, #bbb);
  width: 100%;
  background-color: var(--praimary-color);
}
.linkedinBtn,
.GoogleBtn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  border: 1.5px solid var(--Colors-Neutral-400, #bbb);
  width: 100%;
}
.linkedinBtn {
  background-color: #1275b1 !important;
  border-color: #1275b1 !important;
}
.GoogleBtn {
  background-color: #fff !important;
}
.loginbtn {
  background-color: var(--praimary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo Bhaijaan 2";
  border: 1px solid var(--praimary-color);
  padding: 8px;
}
.loginbtn:hover {
  background: #ad0012;
}
.signup_con {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
}
.signup_con h4 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  color: var(--mainColor);
  cursor: pointer;
}
.password_con h4:hover {
  color: var(--praimary-color);
}
.signup_con h4:hover {
  color: var(--praimary-color);
}
.signup_con p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--second-color);
  cursor: pointer;
}

/* .passwordScreen */

.arrowRight {
  position: absolute;
  right: 2.22vw;
  top: 32px;
  cursor: pointer;
}
.form_contanerP {
  gap: 16px;
}

/* login2 */
.group2 {
  gap: 16px !important;
}

/* login3 */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding-block: 12px;
  padding-right: 12px;
  border: 1.5px solid var(--Colors-Neutral-300, #d2d2d2);
  border-radius: 0.25rem;
  background-color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--second-color);
  font-family: "Baloo Bhaijaan 2";
  text-align: end;
  position: relative;
  outline: none;
  cursor: pointer;
}
select:focus {
  border-color: var(--Colors-Neutral-300);
}

select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper::after {
  display: none;
}

.select-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
}

.select-icon {
  transition: transform 0.3s ease;
}

.select-icon.rotate {
  transform: rotate(180deg);
}

textarea {
  width: 100%;
  border: 1.5px solid var(--Colors-Neutral-300, #d2d2d2);
  border-radius: 0.25rem;
  background-color: var(--white);
  color: var(--second-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--second-color);
  font-family: "Baloo Bhaijaan 2";
  text-align: end;
  outline: none;
  height: 6rem;
  resize: none;
}
textarea::placeholder {
  position: relative;
  right: 12px;
  top: 8px;
}

.code-input-group {
  display: flex;
  /* justify-content: space-between; */
  gap: 16px;
}

.code-input {
  width: 74px;
  height: 74px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #000;
}
.code-input:focus {
  outline: none;
}
