body {
  font-family: Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
:root {
  --Colors-Primary-500: #f82548;
  --Gray-900: #101828;
  --Colors-Neutral-300: #d2d2d2;
}

.module,
.signUp1-module {
  margin: 6vw auto;
  width: 443px;
  padding: 2.2vw;
  display: grid;
  gap: 0.56vw;
  border-radius: 16px;
  border: 1px solid var(--Colors-Neutral-300, #d2d2d2);
  background: #fff;
  box-shadow: 0px 16px 32px -12px rgba(88, 92, 95, 0.1);
}
.hidden {
  display: none;
}
.module > div:first-child {
  padding: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
}

.forget-pass-code-module svg,
.forget-pass-module svg,
.module > div:first-child svg {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.module > div:first-child span {
  width: 38px;
  height: 8px;
  border-radius: 8px;
  background: #ececec;
}
.module div:first-child .active-slide {
  background: var(--Colors-Primary-500, #f82548);
}
.module h1 {
  position: relative;
  color: var(--Gray-900, #101828);
  text-align: center;

  /* Global Tokens/Headings/H-9 */
  font-family: "Baloo Bhaijaan 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px; /* 162.5% */
}
.module h1 + p {
  color: var(--COLORS-Primary-1000, #202020);
  text-align: center;
  font-family: "Baloo Bhaijaan 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;
  align-self: stretch;
}
form > div {
  display: flex;
  flex-direction: column;
  gap: 0.56vw;
  align-self: stretch;
}
form .checkbox {
  flex-direction: row;
  align-items: flex-start;
}
form div label {
  color: var(--Gray-900, #101828);
  text-align: right;

  /* Global Tokens/Body/B-1 */
  font-family: "Baloo Bhaijaan 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}
form div:first-child input {
  font-family: var(--font-family-font-family, DM_Sans);
}
form div select,
form div textarea,
form div input {
  padding: 0.56vw 0.8vw;
  border-radius: 6px;
  border: 1px solid var(--Colors-Neutral-300, #d2d2d2);
  background: #fff;
  color: var(--Colors-Neutral-500, #a4a4a4);
  font-family: "Baloo Bhaijaan 2";
  outline: none;

  /* text-base/regular */
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--line-height-text-base, 24px); /* 150% */
}

.code {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.code input {
  width: 74px;
  padding-top: 25px;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  color: #000;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px; /* 150% */
}

.error-message {
  display: none;
  font-family: "Baloo Bhaijaan 2";
  font-size: 12px;
  font-weight: 500;
  line-height: 20.54px;
  text-align: right;
  color: #db3b21;
  margin: 0;
  margin-top: -0.29vw;
}

form div textarea {
  resize: none;
  height: 6.18vw;
}
form div select {
  color: var(--COLORS-Primary-1000, #202020);
  font-family: "Maven Pro";
  font-weight: 500;
  line-height: 160%; /* 25.6px */

  appearance: none;
  background-image: url(/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 1.11vw 50%;
  background-size: 20px;
}

form div:last-child {
  gap: 1.1vw;
}
form div:last-child div {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
form div:last-child > span {
  color: var(--COLORS-Neutral-500, #a4a4a4);
  text-align: center;

  /* Global Tokens/Body/B-7 */
  font-family: "Maven Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  position: relative;
}
form div:last-child > span::before {
  right: 0;
}
form div:last-child > span::after {
  left: 0;
}
form div:last-child > span::before,
form div:last-child > span::after {
  content: "";
  position: absolute;
  width: calc(50% - 12.5px);
  height: 1px;
  background: var(--Colors-Neutral-300, #d2d2d2);
  top: 50%;
  transform: translateY(-50%);
}

form div:last-child div a:first-child {
  background: #1275b1;
}
form div:last-child div a:last-child {
  border: 1px solid var(--Colors-Neutral-400, #bbb);
  background: var(--COLORS-Neutral-100, #fff);
}
form div:last-child div a {
  border-radius: 8px;
  padding: 0.56vw;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}
form div input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  accent-color: var(--Colors-Primary-500, #f82548);
}
form div:last-child input[type="submit"] {
  display: flex;
  padding: 0.56vw 0.8vw;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--Colors-Primary-500, #f82548);
  color: var(--COLORS-Neutral-100, #fff);
  cursor: pointer;
  border: none;
  color: #ffffff;

  /* Global Tokens/Body/B-1 */
  font-family: "Baloo Bhaijaan 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

form div:last-child p {
  color: var(--COLORS-Neutral-700, #777);
  font-family: "Baloo Bhaijaan 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  text-align: center;
}
form div:last-child p a {
  color: var(--COLORS-Neutral-1000, #333);
  font-weight: 700;
  text-decoration: none;
}
form .save-me {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
form .save-me a {
  color: var(--COLORS-Neutral-1000, #333);
  text-align: center;
  font-family: "Baloo Bhaijaan 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  cursor: pointer;
  text-decoration: none;
}
form .save-me div {
  display: flex;
  gap: 0.56vw;
  align-self: stretch;
  align-items: center;
}
form .save-me label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
