*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Baloo Bhaijaan 2";
    src: url("/font/BalooBhaijaan2-VariableFont_wght.ttf") format("truetype");
  }
  
  :root {
    --mainColor: #101828;
    --second-color: #A4A4A4;
    --praimary-color: #F82548;
    --Colors-Neutral-300: #D2D2D2;
  }

body{
    font-family: "Baloo Bhaijaan 2";
    margin-inline: 62px;
    margin-block: 32px;
}
button{
    border: none;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
align-items: center;
align-self: stretch;
    padding-inline: 24px;
    padding-block: 8px;
    border-radius: 16px;
border: 1px solid var(--Colors-Neutral-200, #E8E8E8);
background: #FFF;
box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
margin-bottom: 19px;
}
.left_Sec{
    display: flex;
    align-items: center;
    gap: 12px;

}
.titel{
    display: flex;
    flex-direction: row-reverse;
    gap: 13px;
    align-items: center;
}
.titel p{
    color: var(--Colors-Neutral-1000, #333);
text-align: right;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.buttonsNav{
    display: flex;
    gap: 8px;
}
.buttonsNav .notBtn,.messageBtn{
padding: 8px;
gap: 8px;
border-radius: 8px;
border: 1px solid var(--Colors-Neutral-200, #E8E8E8);
background-color: #fff;
display: flex;
    align-items: center;
}
.logo{
    display: flex;
align-items: center;
}
/* 888888888888888888888888 */
main {
    padding: 1.7vw 5.6vw;
    overflow: hidden;
  }
  
  #profile-hero {
  }
  .bg-img #background_image {
    width: 100%;
    max-height: 283px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
.edit_bigimage{
  background-color: transparent;
  position: absolute;
  top: 145px;
  left: 72px;
}
 
 
  .mentor_con{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    transform: translateY(-31%);
  }
  .mentorinfo{
    display: inline-flex;
    flex-direction: row-reverse;
align-items: center;
gap: 23px;
  }
  .mentor_titele{
    display: flex;
        flex-direction: column;
        text-align: right;
        gap: 4px;
  }
  .mentor_titele h4{
    color: #000;
    text-align: right;
    
    /* Global Tokens/Headings/H-9 */
    font-family: "Baloo Bhaijaan 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px; /* 162.5% */
  }
  .mentor_titele p{
    color: var(--Colors-Neutral-700, #777);
    text-align: right;
    font-family: "Baloo Bhaijaan 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */
  }

  #image1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--Colors-Neutral-100, #FFF);
}
#image2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
  

 
  .mentorButons{
    display: inline-flex;
align-items: center;
gap: 16px;
flex-direction: row-reverse;
font-family: "Baloo Bhaijaan 2";

  }
  .mentorButons .timeBtn{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
background: var(--Colors-Primary-500, #F82548);
color:#fff;
font-family: "Baloo Bhaijaan 2";
  }
  .mentorButons .editBtn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1.5px solid  #bbb;
    color: var(--Colors-Neutral-700, #777);
font-family: "Baloo Bhaijaan 2";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
background-color: #fff;
  }
  .mentor_sec2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-top: 1px solid var(--Colors-Neutral-200, #E8E8E8);
    cursor: pointer;
  }
  .mentor_sec2 p{
    color: var(--Colors-Neutral-700, #777);
    text-align: right;
    font-family: "Baloo Bhaijaan 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 112.5% */
    padding: 8px;
  }
  .mentor_sec2 .checked{
    color: var(--praimary-color);
    border-bottom: 3px solid var(--Colors-Primary-500, #F82548);
  }

  .sessionSuccess h1{
    color: var(--Warm-black, #333);
    text-align: right;
    font-family: "Baloo Bhaijaan 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-block: 12px;
  }
 
  

  .sessionsFormat{
    display: flex;
padding: 16px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-bottom: 1px solid #A6A6A6;
flex-direction: row-reverse;
  }
  .session_con{
    display: flex;
justify-content: center;
align-items: center;
gap: 16px;
flex-direction: row-reverse;
  }
  .time{
    display: flex;
flex-direction: column;
align-items: flex-end;
gap: 5px;
  }
  .time h4{
    color: var(--Colors-Neutral-1000, #333);
text-align: right;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 27px; /* 122.727% */
  }
  .time p{
    color: var(--Colors-Neutral-700, #777);
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 135% */
  }
  .date p{
    color: var(--Colors-Neutral-1000, #333);
text-align: right;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 192.857% */
  }
  .sessionSuccess_con{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;

  }
 

  /* mentor-rate  */
  /* £££££££££££££££££££££££££ */

  .contact{
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 12px;
align-self: stretch;
  }
  .mentor_con_rate{
    transform: translateY(-20%);
  }
  .personal-image{
    display: flex
    ;
        flex-direction: column;
  }
  .personal-image span{
    position: absolute;
    right: 155px;
bottom: 12px;
    display: flex;
width: 24px;
height: 24px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 16px;
background: var(--Colors-Neutral-200, #E8E8E8);
  }

  .mentorButonsR {
    transform: translateY(-13%);
}

.rette-con{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 85px;
}
 
.ratte{
  display: flex;
align-items: center;
gap: 16px;
align-self: stretch;
}
.ratte span{
  display: flex;
align-items: center;
gap: 8px;
}
.dateR p{
  color: #565656;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.stars_con{
  display: flex;
align-items: flex-end;
gap: 8px;
flex-direction: row-reverse;
}
.stars{
  display: flex;
}
.stars_con p{
  color: #565656;
  text-align: right;
  font-family: "Baloo Bhaijaan 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}
.timeR p{
  color: #454545;
text-align: right;
font-family: "Baloo Bhaijaan 2";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-self: stretch;
}
/* veiwmentor */
/* $$$$$$$$$$$$$$$4 */
.veiw_mentorFormat{
  display: flex;
  padding: 16px 16px 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
border: 1px solid var(--Colors-Neutral-300, #D2D2D2);
background: #FFF;
}
.mentor_veiw_con{
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.veiwMentor h5{
  color: var(--Colors-Neutral-1000, #333);
  text-align: right;
  font-family: "Baloo Bhaijaan 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  margin-top: 16px;
}
.veiw_con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: row-reverse;
}
.top_con{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.editIcons{
  display: flex;
  align-items: center;
  gap: 8px;
}
.editIcons img:first-child{
  width: 20px;
  height: 20px;
}
.veiw_con .text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  
}
.veiw_con .text h4{
  color: var(--Colors-Neutral-1000, #333);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 135% */
}
.veiw_con .text p{
  color: var(--Colors-Neutral-700, #777);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.second_con{
  display: flex;
padding: 8px 0px;
justify-content: space-between;
align-items: center;
align-self: stretch;
flex-direction: row-reverse;
}
.second_con .date2{
  display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background: var(--Colors-Neutral-Alpha-10, rgba(51, 51, 51, 0.10));
}
.second_con .date2 p{
  color: var(--Colors-Neutral-1000, #333);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 225% */
  margin-top: 0;
}

.education{
  display: flex;
  height: 40px;
  padding: 4px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
border: 1px solid var(--Gray300, #D0D5DD);
}
.edu_con{
  display: flex;
align-items: center;
gap: 24px;
align-self: stretch;
flex-direction: row-reverse;
}
#moreBtn{
  display: flex;
  flex-direction: row-reverse;
justify-content: center;
align-items: center;
gap: 11px;
align-self: stretch;
border-radius: 8px;
background: var(--Gray-100, #F2F4F7);
color: var(--Red-Color, #F82548);
text-align: right;
font-family: "Baloo Bhaijaan 2";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row-reverse;
  gap: 16px;
}

















.rating-section .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.title h3 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 32px;
  font-weight: 600;
  color: #101828;
}
.card-mentor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-group img {
  cursor: pointer;
}
.arrow-group {
  display: flex;
  width: 6.1vw;
  justify-content: space-between;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 100%;
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
}
.swiper-wrapper-review {
  gap: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.swiper-calender {
  padding: 0 40px 26px 40px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.calender-day p {
  font-size: 13px;
}
.calender-slide {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 7px;
  text-align: center;
}
.calender-slide h4 {
  font-family: "inter";
  font-size: 17.68px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 5px;
}
.calender-slide p {
  font-family: "inter";
  font-size: 12.63px;
  font-weight: 400;
  line-height: 140%;
  width: 44px;
}
.swiper-slide {
  transition: 0.5s;
}
.swiper-btn-prev,
.swiper-btn-next {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #dddddd57;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

/* زر التنقل السابق */
.swiper-btn-prev {
  right: 4px;
}

/* زر التنقل التالي */
.swiper-btn-next {
  left: 4px;
}
.swiper-btn-prev:active,
.swiper-btn-next:active {
  background-color: #00008d;
  color: white;
}

.active {
  background-color: #00008d;
  color: #fff;
  transform: scale(1.1);
}


.left_section{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
margin-top :16px ;
}
.video{
  display: flex;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--Colors-Neutral-200, #E8E8E8);
background: var(--Background-Color-White, #FDFDFE);
width: 429px;
}
.video_con{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}
.video h1{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
color: var(--Text-Primary, #00001D);
text-align: right;

/* Global Tokens/Body/B-1 */
font-family: "Baloo Bhaijaan 2";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px; /* 150% */
flex-direction: row-reverse;

  
}
.video_con #uplodeBtn{
  color: var(--Colors-Primary-500, #F82548);
text-align: right;

/* Global Tokens/Body/B-3 */
font-family: "Baloo Bhaijaan 2";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}
.video_con p{
  color: var(--Text-Secondary, #667);
text-align: center;

/* Global Tokens/Body/B-4 */
font-family: "Baloo Bhaijaan 2";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
}

.statistics{
  display: flex;
padding: 13px 18px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--Colors-Neutral-200, #E8E8E8);
background: #FFF;
}
.top_con{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.top_con h1{
color: #000;
text-align: right;
font-family: "Baloo Bhaijaan 2";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 27px; /* 135% */
}
.statisticsIcons{
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
}
.statisticsIcons p{
color: var(--Colors-Neutral-700, #777);
text-align: right;
font-family: "Baloo Bhaijaan 2";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 192.857% */
}
.statistics_con{
display: flex;
justify-content: space-between;
align-self: stretch;
flex-direction: row-reverse;

}
.veiw_conS{
display: flex;
align-items: flex-start;
gap: 7px;
flex-direction: row-reverse;
}
.veiw_conS .text{
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 4px;
}
.veiw_conS .text h4{
color: var(--Colors-Neutral-1000, #333);
text-align: right;
font-family: "Baloo Bhaijaan 2";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 27px; /* 135% */
}
.veiw_conS .text p{
color: var(--Colors-Neutral-700, #777);
text-align: right;
font-family: "Baloo Bhaijaan 2";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
}