.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-top: 1.5vw;
  height: 180px;
}
.info > div:first-child {
  display: flex;
  align-items: flex-start;
  gap: 2.3vw;
}
.info > div:first-child > div:first-child {
  position: relative;
  width: 200px;
  height: 200px;
  position: relative;
  top: -4.3vw;
  background: #fff;
  padding: 7px;
  border-radius: 50%;
}

.info > div:first-child > div label {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  height: 30px;
  background: var(--Colors-Neutral-200, #e8e8e8);
  cursor: pointer;
}
.info div:first-child > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.info div:first-child div span {
  color: #000;
  text-align: right;

  /* Global Tokens/Headings/H-9 */
  font-family: "Baloo Bhaijaan 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px; /* 162.5% */
}
.info div:first-child div p {
  color: var(--Colors-Neutral-700, #777);
  text-align: right;
  font-family: "Baloo Bhaijaan 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
  margin: 0;
  margin-bottom: 0.6vw;
}
.info div:first-child div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.85vw;
}
.info > div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.info div:last-child .red {
  padding: 0.6vw 0.85vw;
  border-radius: 6px;
  background: var(--Colors-Primary-500, #f82548);
  border: none;
  color: #fff;

  /* text-base/medium */
  font-family: var(--font-family-font-family, DM_Sans);
  font-size: var(--font-size-text-base, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: var(--line-height-text-base, 24px); /* 150% */
  cursor: pointer;
}
.info div:last-child .editProfile {
  padding: 0.6vw;
  border-radius: 8px;
  border: 1px solid var(--Colors-Neutral-400, #bbb);
  color: var(--Colors-Neutral-700, #777);
  text-align: right;
  font-family: "Baloo Bhaijaan 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 195% */
  cursor: pointer;
  background-color: #fff;
}

.userActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.userActions > div {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.userActions div div {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.12);
  justify-content: center;
}
.userActions div div img {
  width: 24px;
  height: 24px;
}
.userActions button {
  display: flex;
  height: 40px;
  padding: var(--2, 8px) var(--3, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--2, 8px);
  align-self: stretch;
  border-radius: var(--ui-radius, 6px);
  background: var(--Colors-Primary-500, #f82548);
  color: var(--Colors-Neutral-100, #fff);

  /* Global Tokens/Body/B-1 */
  font-family: "Baloo Bhaijaan 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
  border: none;
}
.userActions button:hover {
  background-color: var(--Colors-Primary-600, #f82548);
  cursor: pointer;
}
